html {
    height: 100%;

}

body{
    text-align: center;
    height: 100%;
    background-color: #ebebeb;
    background-image: url("https://wallpaperplay.com/walls/full/d/0/5/221356.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    transition: all ease-in 0.3s;
}

a:hover {
    transform: scale(1.05);
}

.navbar-brand {
    padding-left: 10px;
}

.page {
    display: none;
    margin-top: 3em;
}

.logoContainer {
    display: flex;
}

#bgImage {
    background-position: 20% 50%;
    position: inherit;
    min-height: 390px;
    min-width: 100%;
}

#myDiv {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    background-color: rgba(255,255,255, 0.7);
}

#transparentBg {
    height: 70px;
    background-color: transparent!important;
    background-color: none;
    background: linear-gradient(#0e4389, transparent);
}

#formContainer {
    position: absolute;
    right: 50%;
    top: 12rem;
    transform: translateX(50%);
    width: 65%;
}

.formPosition {
    display: flex;
    width: 60%;
    margin: auto;
}

.pageLogo {
    margin-bottom: 0%;
    color: white;
    opacity: 0.7;
}

#navbarSupportedContent {
    justify-content: space-evenly;
}

#myInput {
    height: calc(2em + .75rem + 2px);
}

#cityName {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#dataResultButton {
    min-width: 19rem;
    min-height: 2.5rem;
    color: white;
    background-color: #2e66a4;
    border: none;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    outline: 0;
    position: relative;
    transition: all ease-in-out 0.3s;
}

#dataResultButton:hover {
    background-color: #164c90;
    top: -5px;
}

.hourPage {
    max-height: 650px;
    overflow: auto;
    overflow-x: hidden;
}

.fixed-bottom {
    animation-name: fadeOut; 
    animation-duration: 5s;
    opacity: 0;
}

.padding-overwrite {
    padding: 0!important;
}

.button-style {
    border: 0.5px solid grey;
    border-radius: 50%;
}

.background-control {
    background: rgba(255,255,255, 0.7);
    font-weight: 700;
    align-items: center;
}

@keyframes fadeOut {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}

.temp {
    margin: 1.5px;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.8);
    color: white;
}

#tempSize {
    font-size: 2.3em;
}

.chartContainer {
    background-color: rgba(0,0,0, 0.8);
    color: white;
    margin-right: 3px;
    min-width: 230px;
    display: flex;
    justify-content: space-evenly;
}

.sunData {
    background-color: rgba(0,0,0, 0.8);
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.chart {
    margin: 0 0 10px 7px;
    height: 26%;
    width: 1.3em;;
    background-color: red;
}

.chart::after {
    content: " ";
    width: 1.3em;;
    height: 26%;
    border-bottom: 2px solid royalblue;
    position: absolute;
    top: 7em;
}

.chart::before {
    content: " ";
    position: absolute;
    top: 15px;
    height: 90%;
    width: 1.3em;;
    border: 2px solid royalblue;
    border-bottom: none;
    background-color: #ebebeb;
    z-index: -1;
}

.weatherDescription {
    margin-right: 5rem;
    margin: 1.5rem 1rem;
}

.chartBox {
    display: flex;
} 
.box {
    width: 1em;
    height: 1em;
    background-color: #0e4389;
}

p {
    margin: -2px 0 6px 6px;
}

.col-md-2 {
    width: auto;
}


.chartBar {
    display: flex;
    align-items: flex-end;
}

.rowContainer {
    width: 50%;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 5px;
    height: 5em;
    align-items: center;
    margin: auto;
    margin-bottom: 3px;
    cursor: pointer;

}

.rowContainer:hover {
    box-shadow: 0 0 7px;
}

.tempLeft, #dropDownData {
    text-align: left;
}

.dropDownData {
    display: flex;
    background-color: rgba(255,255,255, 0.7);
    width: 50%;
    margin: auto;
    height: 100%;
    font-weight: 700;
}

#dropDownLeft {
    padding: 1em;
}

#dropDownRight {
    padding: 1em;
}

span {
    font-size: 12px;
}

.aboutPage {
    height: 60%;
}

.container h1 {
    margin-bottom: 1em;
}

.tableControl {
    margin-bottom: 2em;
}

.dropdown-data {
    overflow: hidden;
    height: 0px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media screen and (max-width: 992px) {
    .chartContainer {
        min-width: 25%;
    }
    #transparentBg {
        display: flex;
        justify-content: flex-end;
        padding-right: 5rem;
    }
    .section-md-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .temp {
        width: 320px;
        min-width: 320px;
        text-align: center;
        padding: 2em;
        margin: 1em;
    }
    .chartBar {
        text-align: left;
    }
    .chart::before {
        height: 82%;
    }
    .chart::after {
        height: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .section-md-column {
        justify-content: center;
    }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255,255,255, 0.4); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255, 0.7); 
  }

.footer-copyright {
    position: absolute;
    width: 100%;
    bottom: 20px;
}